<h1>{{title()}}</h1>
<h2>Movies List</h2>
<ul>
  @for (movie of movies(); track movie; let isEven = $even;) {
    <li [class.evenRow]="isEven" [class.oddRow]="!isEven">
       <button (click)="addToFavourites(movie)">Favourite</button>
       {{movie}}
    </li> }
</ul>

<h2>Favourites</h2>
<ul>
  @if (favourites().length > 0) {
        <li>{{favourites().length}} movie(s) chosen</li>
      }

  @for (movie of favourites(); track movie; let isEven = $even;) {
    <li [class.evenRow]="isEven" [class.oddRow]="!isEven">
      <button (click)="deleteFromFavourites(movie)">Delete</button>
      {{movie}}
      </li>}
      @empty {
        <li>None selected</li>
      }
</ul>

<router-outlet />
