<h1>{{title()}}</h1>
<h2>Movies List</h2>
<ul>
  @for (movie of movieService.movies(); track movie; let i = $index; let isEven = $even;) {
    <li [class.evenRow]="isEven" [class.oddRow]="!isEven">
       <button
       [disabled]="movieService.favourites().includes(movie.title)" 
       (click)="movieService.addFav(movie.title)">
       {{movieService.favourites().includes(movie.title) ? 'Added' : 'Favourite'}}</button>
       {{movie.title}} ({{movie.year}} - {{movie.director}})
    </li> 
    } @empty {
      <li>No movies found!</li>
    }
</ul>

<h2>Favourites</h2>
<ul>
  @if (movieService.favourites().length > 0) {
        <li>{{movieService.favourites().length}} movie(s) chosen</li>
      }

  @for (movie of movieService.favourites(); track movie; let isEven = $even;) {
    <li [class.evenRow]="isEven" [class.oddRow]="!isEven">
      <button (click)="movieService.delFav($index)">Delete</button>
      {{movie}}
      </li>}
      @empty {
        <li>None selected</li>
      }
</ul>

<router-outlet />
